.ftba
.vscode
backups
config
crash-reports
defaultconfigs
downloads
journeymap
local
logs
modernfix
mods
patchouli_books
saves
schematics
screenshots
scripts
shaderpacks
resourcepacks
.curseclient
knownkeys
minecraftinstance
options
patchouli_data
rhino.local
usercache
usernamecache
