.ftba
.vscode
backups
config
crash-reports
defaultconfigs
downloads
journeymap
local
logs
modernfix
mods
patchouli_books
saves
schematics
screenshots
scripts
shaderpacks
resourcepacks
.curseclient
knownkeys.txt
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
/.idea
